@use "custom";
@use "custom_nav";

:root {
    --nav-height: 123px;
    // --nav-height: 5px;
  }

body {
    background-color: var(--bs-gray-400);
}
.btn_custom01{
    border-radius: 3em;
    min-width: 75px;
}
.btn_custom02{
    border-radius: 3em;
    min-width: 75px;
    background-color: var(--bs-secondary);
}

/* HOME */
.not_nav{padding-top: var(--nav-height);}
.home_body{padding-left:5%;}
.home_buttons{
    margin:0;
    gap: 1rem;
    // padding-top:2rem 0 0 5%;
    padding:2rem 0 0 0;

    .div_button {
        margin: 1rem 0 0 0;
        width: 100%;
        border-radius: 3rem;
        font-size: 2.5rem;
        padding: 3rem 0 3rem 0;
        display: flex;
        justify-content: center;
    }
    .home_register {
        background-color: var(--bs-primary);
        border: solid var(--bs-primary);
        border-width: .5rem;
        color: var(--bs-gray-200);
    }
    .home_login {
        color: var(--bs-primary);
        border:  solid var(--bs-primary);
        border-width: .5rem;
        // background-color: var(--bs-gray-200);

    }
    .home_login:hover {
        border: .5rem solid var(--bs-gray-100)
    }
    .home_register:hover {
        border: .5rem solid var(--bs-gray-100)
    }
}

.div_writing{
    padding-top:1rem;
    .writing_content{
        width: 95%;
        padding: 5%;
        border-radius: 3em;
            font-size: 1.5em;
        background-color: var(--bs-primary);
        border: 1px solid var(--bs-primary);
        border-width: .5em;
        color: var(--bs-gray-200);
        a {
            color: white
        }
    }

}


/* Register */
section.register{
    .register_body {
        padding: var(--nav-height) 5px 0 10px;
        // background-color: purple;
        .title {
            // padding: 50px 0 0 25px;
            font-size: 3em;
        }
        .register_form {
            // display:flex;
            // padding-top: 5%;
            border-radius: 3em;
            padding: 50px 0 200px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: white;
            label {
                min-width: 110px;
            }
            .register_text {
                min-width: 85%;
            }
            .element_right{
                // width: 30%;
                padding:0 20% 0 0;
                .element_right_sub{
                    width: 30%;
                    float: right;
                    input {
                        float: right;
                        font-size: 1.5em;
                    }
                }


            }
            .forgot_password {
                float: right;
                padding-right: 10%;
                vertical-align: top;
                // background-color: #20c997;
                a{color: white;}
            }
        }
    }
}

/* Account */
section.account{
    .account_body {
        padding: var(--nav-height) 5px 0 10px;
        // background-color: purple;
        .title {
            // padding: 50px 0 0 25px;
            font-size: 3em;
        }
        .register_form {
            // display:flex;
            // padding-top: 5%;
            border-radius: 3em;
            padding: 50px 0 50px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: white;

            .btn_to_label{
                min-width: 110px;
                margin-left:-10px;
                // outline: none; 
                border: none;
                background:none;
                color: white;
            }



            label {
                min-width: 110px;
            }
            .register_text {
                min-width: 85%;
            }
            .element_right{
                
                padding:0 20% 10% 0;
                .btn_custom01 {
                    float: right;
                    font-size: 1.5em;
                }
                .password_checkbox {
                    float: right;
                }
                .btn_loc {
                    border-radius: 3em;
                    float: right;
                }
            }

        }
    }
}

/* Modal Account */
.modal-body{
    background-color: var(--bs-gray-500);
}


/* Dashboard */
section.dashboard{
    .dashboard_body {
        padding: var(--nav-height) 5px 0 10px;
        // background-color: purple;
        .title {
            // padding: 50px 0 0 25px;
            font-size: 3em;
        }
        .dashboard_chart {
            // display:flex;
            // padding-top: 5%;
            border-radius: 3em;
            padding: 50px 0 50px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: white;
            .chart {
                width: 90%;
                border-radius: 2em;
                padding: 10%;
                background-color: #20c997;
            }
            .correlation_div{text-align: center;}
        }
    }
}


/* About us */
section.about_us {
    padding: var(--nav-height) 5px 0 10px;
    
    .about_us_body{

        .title {
            font-size: 3em;
            // background-color: #20c997;
        }
        .div_writing{
            // margin: 5%;
            border-radius: 3em;
            padding: 50px 0 50px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: white;
            a {
                color: white
            }
        }
    }
}

/*Error Page*/
section.Error {
    padding: var(--nav-height) 5px 0 10px;
    color: var(--bs-primary);
    .error_body{
        padding: 0 0 0 5px;
        h3{padding: 25px 0 0 50px;}
    }
}


/* About us */
section.youtube {
    padding: var(--nav-height) 5px 0 10px;
    .video_div{
        padding-left:10%;
        padding-top:25px;
    }
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;
    }
    .div_writing{
        // margin: 5%;
        border-radius: 3em;
        padding: 50px 0 50px 5px;
        margin: 0 0 0 30px;
        // text-align: center;
        font-size: 1.5em;
        background-color: var(--bs-primary);
        border: 1px solid var(--bs-primary);
        border-width: .5em;
        color: white;
        // line-height: 1.5em;
        .indent{padding-left: 15px;
            padding-top: 10px;
            line-height: 1.6em;
        }
    }
}




@media screen and (min-width: 720px) {
    .home_body{padding-left:0;
    .home_buttons{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    
        gap: 1rem;
        padding:3rem 0 1rem 0;
        
        .div_button {
            // flex:1;
            border-radius: 3em;
            // margin: 0 0 0 0;
            font-size: 2.5em;
            max-width: 40%;
            min-width: 10rem;
    
            padding-top: 5rem;
            padding-bottom:5rem;
            display: flex;
            justify-content: center;
            // align-items: center;
    
        }
    }
    .div_writing{
        padding-left: 5%;
    }
}

}


//For Screen wider than 1080
@media only screen and (min-width: 1080px) {
//     /* Navbar */
//     section.navbar_section {
//         display: block;
//         .navbar_custom{

//             .middle_nav_div {
//                 display: initial;
//                 padding-left: 30%;
//                 color: white;
//             }
//         }
//     }
/* About us */
    section.about_us {
        padding: var(--nav-height) 5px 0 10px;
        
        .about_us_body{
            padding: 5%;
            .div_writing{
                .writing_content{ padding: 2.5%}

            }
        }
    }
}







