@use "custom";

:root {
    --nav_height: 125px;
    // --nav_height: 5px;
  }

body {
    background-color: var(--bs-gray-200);
}
.btn_custom01{
    border-radius: 3em;
    min-width: 75px;
}
.btn_custom02{
    border-radius: 3em;
    min-width: 75px;
    background-color: var(--bs-secondary);
}

/* Navbar */
section.navbar_section {

    .navbar_custom{
        justify-content: flex-start;
        position: fixed;
        // z-index: 999;
        width:100%;
        .nav_left{
            padding-left: 15px;
            height: 85px;
            a{
                text-decoration: none;
                font-weight: bold;
                font-size: large;
                color: var(--bs-info);
            }
            .dandd_logo{
                padding-left:20px;
                height:80px;
            }
        }
        .middle_nav_div {
            display: none;
        }

        nav.menu-btn{display:block;}
        nav {display: none;}
        .mobile-menu{
            position: absolute;
            cursor: pointer;
            right:25px;
            // top: 30px;
            height: 100%;
            padding-left: 30px;
            margin-left:50px;
        }
        nav {
            position: fixed;
            z-index: 999;
            
            width: 40%;
            right: 0;
            top: 0;
            background: var(--bs-gray-500);
            height: 100%;
            margin-left: 0;
            ul {
                list-style-type: none;
                padding:50px 15px 0 0;
                li{
                    // color: var(--bs-gray-100);
                    font-size: 2em;
                    a{
                        text-decoration: none;
                        display: block;
                        padding: .5em 10px .5em 0;
                        
                        text-align: right;
                        cursor: pointer;
                        &:hover {font-weight: bold;}
                    }    
                }
            }
            .dropdown-menu{
                background-color: var(--bs-gray-700);
                width: 100%;
                .dropdown-item{
                    color: var(--bs-gray-100);
                    text-align: left;
                }
            }
            .mobile-menu-exit{
                float: right;
                margin: .5em;
                cursor: pointer;
            }
            .dropdown{
                background-color: none;
                &:hover {background-color: none;}
            }
        }
    }
}

/* Flash */
.flash_custom_parent {
    position: relative;
    .alert_custom{
        position: absolute;
        top: var(--nav_height);

        width: 100%;
        .close_right{
            float: right;
        }
    }
}


/* Home */
section.home {
    .home_body{

        padding-top: var(--nav_height);
        // background-color: purple;
        // .title {
        //     // padding: 50px 0 0 25px;
        //     font-size: 3em;
        // }
        .home_buttons {
            display:grid;
            // padding-top: .5rem;

            .div_button {
                flex: 1;
                border-radius: 3em;
<<<<<<< Updated upstream
                padding: 100px 0 100px 10px;
                margin: 0 0 0 30px;
=======
                padding: 1rem 0 3rem .5rem;
                margin: 0 0 0 0;
>>>>>>> Stashed changes
                text-align: center;
                font-size: 2.5em;
            }
            .home_register {
                background-color: var(--bs-primary);
                border: 1px solid var(--bs-primary);
                border-width: .5em;
                color: white;
            }
            .home_login {
                color: var(--bs-primary);
                border: 1px solid var(--bs-primary);
                border-width: .5em;
            }
        }
        .div_writing{
            // margin: 5%;
            border-radius: 3em;
            padding: 50px 0 50px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: white;
            a {
                color: white
            }
        }
    }
}

/* Register */
section.register{
    .register_body {
        padding: var(--nav_height) 5px 0 10px;
        // background-color: purple;
        .title {
            // padding: 50px 0 0 25px;
            font-size: 3em;
        }
        .register_form {
            // display:flex;
            // padding-top: 5%;
            border-radius: 3em;
            padding: 50px 0 200px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: white;
            label {
                min-width: 110px;
            }
            .register_text {
                min-width: 85%;
            }
            .element_right{
                // width: 30%;
                padding:0 20% 0 0;
                .element_right_sub{
                    width: 30%;
                    float: right;
                    input {
                        float: right;
                        font-size: 1.5em;
                    }
                }


            }
            .forgot_password {
                float: right;
                padding-right: 10%;
                vertical-align: top;
                // background-color: #20c997;
                a{color: white;}
            }
        }
    }
}

/* Account */
section.account{
    .account_body {
        padding: var(--nav_height) 5px 0 10px;
        // background-color: purple;
        .title {
            // padding: 50px 0 0 25px;
            font-size: 3em;
        }
        .register_form {
            // display:flex;
            // padding-top: 5%;
            border-radius: 3em;
            padding: 50px 0 50px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: white;

            .btn_to_label{
                min-width: 110px;
                margin-left:-10px;
                // outline: none; 
                border: none;
                background:none;
                color: white;
            }



            label {
                min-width: 110px;
            }
            .register_text {
                min-width: 85%;
            }
            .element_right{
                
                padding:0 20% 10% 0;
                .btn_custom01 {
                    float: right;
                    font-size: 1.5em;
                }
                .password_checkbox {
                    float: right;
                }
                .btn_loc {
                    border-radius: 3em;
                    float: right;
                }
            }

        }
    }
}

/* Modal Account */
.modal-body{
    background-color: var(--bs-gray-500);
}


/* Dashboard */
section.dashboard{
    .dashboard_body {
        padding: var(--nav_height) 5px 0 10px;
        // background-color: purple;
        .title {
            // padding: 50px 0 0 25px;
            font-size: 3em;
        }
        .dashboard_chart {
            // display:flex;
            // padding-top: 5%;
            border-radius: 3em;
            padding: 50px 0 50px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: white;
            .chart {
                width: 90%;
                border-radius: 2em;
                padding: 10%;
                background-color: #20c997;
            }
            .correlation_div{text-align: center;}
        }
    }
}


/* About us */
section.about_us {
    padding: var(--nav_height) 5px 0 10px;
    
    .about_us_body{
        
        .title {
            font-size: 3em;
            // background-color: #20c997;
        }
        .div_writing{
            // margin: 5%;
            border-radius: 3em;
            padding: 50px 0 50px 5px;
            margin: 0 0 0 30px;
            // text-align: center;
            font-size: 1.5em;
            background-color: var(--bs-primary);
            border: 1px solid var(--bs-primary);
            border-width: .5em;
            color: white;
            a {
                color: white
            }
        }
    }

<<<<<<< Updated upstream

}

=======
>>>>>>> Stashed changes
/*Error Page*/
section.Error {
    padding: var(--nav_height) 5px 0 10px;
    color: var(--bs-primary);
    .error_body{
        padding: 0 0 0 5px;
        h3{padding: 25px 0 0 50px;}
    }
}


<<<<<<< Updated upstream
=======
/* About us */
section.youtube {
    padding: var(--nav_height) 5px 0 10px;


    .video_div{
        padding-left:10%;
        padding-top:25px;

        
    }
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;

    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;

    }
    .div_writing{
        // margin: 5%;
        border-radius: 3em;
        padding: 50px 0 50px 5px;
        margin: 0 0 0 30px;
        // text-align: center;
        font-size: 1.5em;
        background-color: var(--bs-primary);
        border: 1px solid var(--bs-primary);
        border-width: .5em;
        color: white;
        // line-height: 1.5em;
        .indent{padding-left: 15px;
            padding-top: 10px;
            line-height: 1.6em;
        }
    }
}


@media only screen and (min-width: 600px){
    section.home{
        // align-content: center;
        // align-items: center;
        // padding-left: 20%;
        // justify-content: center;
        justify-content: space-around;
        // text-align: center;
        // padding-left: 25%;
        min-width: 60rem;
        
        .home_body{
            width: 70%;
            // align-content: center;
            
            // background-color: red;
            .home_buttons{
                display: flex;
            }
            .div_button {
                flex: 1;
                border-radius: 3em;
                padding: 100px 0 100px 10px;
                margin: 0 0 0 0;
                text-align: center;
                font-size: 2.5em;
            }
        }

    }

}

>>>>>>> Stashed changes


//For Screen wider than 1080
@media only screen and (min-width: 1080px) {
/* Navbar */
section.navbar_section {
    display: block;
    .navbar_custom{

        .middle_nav_div {
            display: initial;
            padding-left: 30%;
            color: white;
        }
    }
}
/* About us */
section.about_us {
    padding: var(--nav_height) 5px 0 10px;
    
    .about_us_body{
        padding: 5%;
        .div_writing{
            .writing_content{ padding: 2.5%}

        }
    }
}

}